body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    height: 410px;
    width: 410px;
    color: #000;
    font-size: 200px;
    background-color: burlywood;
    text-align: center;
}

.exercice1 {
    display: flex;
}

.exercice2 {
    display: none;
}

.exercice3 {
    display: none;
}

.exercice4 {
    display: none;
}

.exercice5 {
    display: none;
}

.exercice6 {
    display: none;
}

.exercice7 {
    display: none;
}

.exercice8 {
    display: none;
}

.exercice9 {
    display: none;
}

.exercice10 {
    display: none;
}

.exercice11 {
    display: none;
}

.exercice12 {
    display: none;
}

.exercice13 {
    display: none;
}

.pause {
    font-size: 200px;
    display: none;
}

.fin {
    font-size: 200px;
    display: none;
}

